---
---

@import "{{ site.theme }}";

.home-link {
  text-decoration: none;
  color: #fff;
}

.survey {
  display: block;
  border-style:none;
}

summary:hover {
  background-color: yellow;
  cursor: pointer;
}
